/node_modules
/vendor
/storage
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/firebase-service.json
/public/futurefitapi/public/firebase-service.json
.env
composer.lock
/public/futurefitapi/storage/*.key
/public/futurefitapi/public/assets/uploads
/public/futurefitapi/public/uploads
/public/futurefitapi/vendor
/public/futurefitapi/composer.lock
/public/zipfiles
/public/uploads
/public/assets/uploads
/public/files
/public/hot
/public/futurefitapi/storage
/public/assets/mail_attachments