.gantt_task_line.bg-8EF7C9{ background-color:#8EF7C9; border: #8EF7C9; } 
.gantt_task_line.bg-DAC8FF{ background-color:#DAC8FF; border: #DAC8FF; } 
.gantt_task_line.bg-80CFFF{ background-color:#80CFFF; border: #80CFFF; } 
.gantt_task_line.bg-FFFA92{ background-color:#FFFA92; border: #FFFA92; } 
.gantt_task_line.bg-FF9C6E{ background-color:#FF9C6E; border: #FF9C6E; } 
.gantt_task_line.bg-FF7D86{ background-color:#FF7D86; border: #FF7D86; } 
.gantt_task_line.bg-BDBDBD{ background-color:#BDBDBD; border: #BDBDBD; } 
.gantt_task_line.bg-66FFFF{ background-color:#66FFFF; border: #66FFFF; } 
.gantt_task_line.bg-FF6852{ background-color:#FF6852; border: #FF6852; } 
.gantt_task_line.bg-FF77A9{ background-color:#FF77A9; border: #FF77A9; } 
.gantt_task_line.bg-80FF91{ background-color:#80FF91; border: #80FF91; } 
.gantt_task_line.bg-FF6852{ background-color:#FF6852; border: #FF6852; } 
.gantt_task_line.bg-80E8FF{ background-color:#80E8FF; border: #80E8FF; } 
.gantt_task_line.bg-DA91FF{ background-color:#DA91FF; border: #DA91FF; } 
.gantt_task_line.bg-FFA040{ background-color:#FFA040; border: #FFA040; } 
.gantt_task_line.bg-FF7570{ background-color:#FF7570; border: #FF7570; } 
.gantt_task_line.bg-DCE775{ background-color:#DCE775; border: #DCE775; } 
.gantt_task_line.bg-64B5F6{ background-color:#64B5F6; border: #64B5F6; } 
.gantt_task_line.bg-FF9600{ background-color:#FF9600; border: #FF9600; } 
.gantt_task_line.bg-AED581{ background-color:#AED581; border: #AED581; } 
.gantt_task_line.bg-FF6852{ background-color:#FF6852; border: #FF6852; } 
.gantt_task_line.bg-8D6E63{ background-color:#8D6E63; border: #8D6E63; } 
.gantt_task_line.bg-80F8FF{ background-color:#80F8FF; border: #80F8FF; } 
.gantt_task_line.bg-DFB8FF{ background-color:#DFB8FF; border: #DFB8FF; } 
.gantt_task_line.bg-CFF1D1{ background-color:#CFF1D1; border: #CFF1D1; } 
.gantt_task_line.bg-EC407A{ background-color:#EC407A; border: #EC407A; } 
.gantt_task_line.bg-80F8FF{ background-color:#80F8FF; border: #80F8FF; } 
.gantt_task_line.bg-FFD95E{ background-color:#FFD95E; border: #FFD95E; } 
.gantt_task_line.bg-FF7575{ background-color:#FF7575; border: #FF7575; } 
.gantt_task_line.bg-26A69A{ background-color:#26A69A; border: #26A69A; } 
.gantt_task_line.bg-B2D7F7{ background-color:#B2D7F7; border: #B2D7F7; } 
.gantt_task_line.bg-FFB2D9{ background-color:#FFB2D9; border: #FFB2D9; } 
.gantt_task_line.bg-FFECB3{ background-color:#FFECB3; border: #FFECB3; } 
.gantt_task_line.bg-B2E5E5{ background-color:#B2E5E5; border: #B2E5E5; } 
.gantt_task_line.bg-FFD9B3{ background-color:#FFD9B3; border: #FFD9B3; } 
.gantt_task_line.bg-FFB2B2{ background-color:#FFB2B2; border: #FFB2B2; } 
.gantt_task_line.bg-C6FFC6{ background-color:#C6FFC6; border: #C6FFC6; } 
.gantt_task_line.bg-A669A6{ background-color:#A669A6; border: #A669A6; } 
.gantt_task_line.bg-E5FFB2{ background-color:#E5FFB2; border: #E5FFB2; } 
.gantt_task_line.bg-C7A275{ background-color:#C7A275; border: #C7A275; } 
.gantt_task_line.bg-FFB2FF{ background-color:#FFB2FF; border: #FFB2FF; } 
.gantt_task_line.bg-A8A3C6{ background-color:#A8A3C6; border: #A8A3C6; } 
.gantt_task_line.bg-A3FFA3{ background-color:#A3FFA3; border: #A3FFA3; } 
.gantt_task_line.bg-FFA68B{ background-color:#FFA68B; border: #FFA68B; } 
.gantt_task_line.bg-662121{ background-color:#662121; border: #662121; } 
.gantt_task_line.bg-669999{ background-color:#669999; border: #669999; } 
.gantt_task_line.bg-FFD2E1{ background-color:#FFD2E1; border: #FFD2E1; } 
.gantt_task_line.bg-CFCFCF{ background-color:#CFCFCF; border: #CFCFCF; } 
.gantt_task_line.bg-FFEDB2{ background-color:#FFEDB2; border: #FFEDB2; } 
.gantt_task_line.bg-96E5E5{ background-color:#96E5E5; border: #96E5E5; } 
.gantt_task_line.bg-FFC6B2{ background-color:#FFC6B2; border: #FFC6B2; } 
.gantt_task_line.bg-B8AED1{ background-color:#B8AED1; border: #B8AED1; } 
.gantt_task_line.bg-808B8D{ background-color:#808B8D; border: #808B8D; } 
.gantt_task_line.bg-FF77A9{ background-color:#FF77A9; border: #FF77A9; } 
.gantt_task_line.bg-FFE863{ background-color:#FFE863; border: #FFE863; } 
.gantt_task_line.bg-4d6e96{ background-color:#4d6e96; border: #4d6e96; } 